.header {
  position: sticky;
  top: 0px;
  height: 125px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #FFFFFF
}

.header h1 {
  font-style: italic;
  font-weight: 400;
  margin: 0px;
  line-height: 1.5em;
  font-size: 2.5em
}

.header h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1em
}

@media screen and (max-width: 768px) {
  .header {
    position: fixed;
    height: 100px;
    width: 100%
  }

  .header h1 {
    font-size: 1.5em
  }

  .header h2 {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 350px) {
  .header {
    padding: 0px 25px 0px 53px;
    align-items: flex-end;
  }
