body {
  font-family: "Lora", serif;
  font-weight: 400;
  margin: 0px;
  color: #FFFFFF;
  text-align: justify;
  line-height: 1.3
}

.title {
  color: #000000
}


/* DIVs */

div.header {
  background-image: url("https://pbs.twimg.com/profile_banners/778878774888763392/1474970834/1500x500");
  background-position: center;
  background-size: cover;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

div.menu-wrapper, div.social-wrapper, div.title-wrapper, div.about-wrapper,
div.research-wrapper, div.publications-wrapper, div.contact-wrapper, div.footer-wrapper {
  width: 100%
}

div.menu-wrapper {
  background-color: #3E3936;
}

div.menu {
  overflow: hidden;
  display: table;
  align-items: center;
  margin: 0px auto;
}

div.social-wrapper {
  background-color: #3E3936;
}

div.social {
  display: table;
  align-items: center;
  margin: 0px auto;
  font-size: 2em
}

div.title-wrapper {
  background-color: #FFFFFF;
}

div.about-wrapper {
  background-color: #646B79;
}

div.research-wrapper {
  background-color: #494950;
}

div.publications-wrapper {
  background-color: #989DA4;
}

div.contact-wrapper {
  background-color: #646B79;
}

div.footer-wrapper {
  background-color: #3E3936;
}

div.title, div.about, div.research, div.publications, div.contact, div.footer {
  margin: 0px auto;
  max-width: 1000px;
  padding: 25px 20px;
  overflow: hidden;
}

div.title {
  padding: 50px 20px;
  display: flex;
  justify-content: center
}

div.title-cell {
  float: left;
  padding: 0px 10px;
  max-width: 300px
}

div.contact-menu {
  width: 33.3333%;
  float: left;
  text-align: center
}


/* HEADERS */

.header h1 {
  margin: 0px;
  font-size: 3em;
  font-style: italic;
  font-weight: 400;
  color: white;
}

.header h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  color: white;
}

.title h2, .about h2, .research h2, .publications h2, .contact h2 {
  margin: 0px;
  font-family: "Montserrat", sans-serif;

}



/* LINKS */

a:link, a:visited{
  color: #644C44;
  text-decoration: none;
}

a:hover, a:active{
  text-decoration: underline;
}

.menu a:link, .menu a:visited {
  float: left;
  display: block;
  padding: 15px 25px;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-decoration: none
}

.menu a:hover, .menu a:active {
  background-color: #646B79
}

a.button:link, a.button:visited{
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #000000;
  padding: 10px 20px;
  border: 1px solid #000000;
}

a.button:hover, a.button:active{
  color: #646B79;
  border: 1px solid #646B79;
}


/* ICONS */

i.fas {
  margin-right: 10px
}

i.fab, i.ai {
  color: white;
  padding: 10px 5px;
}

i.fab:hover, i.ai:hover {
  color: #646B79;
}


/* RESPONSIVE DESIGN */

@media screen and (max-width: 750px) {
  div.header {
    height: 200px
  }

  div.menu {
    position: relative;
    width: 100%
  }

  div.title, div.about, div.research, div.publications, div.contact, div.footer {
    padding: 20px 10px
  }

  div.title {
    flex-direction: column;
  }

  div.title-cell{
    margin: 0px auto;
    padding: 0px;
    max-width: 300px;
  }

  .header h1 {
    font-size: 2em
  }

  .header h2 {
    font-size: 1em
  }

  .menu a:link {
    float: none;
    text-align: left;
    padding: 12px
  }
}

@media screen and (max-width: 850px) {
  div.contact-menu {
    width: 100%
  }
}
