/* General settings */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lora", serif;
  font-weight: 400;
  margin: 0px;
  color: #3E3936;
  text-align: justify;
  line-height: 1.3
}

h2 {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  color: #646B79;
  display: inline;
  border-bottom: 2px solid;
}

a:link, a:visited {
  color: #646B79;
  text-decoration: none;
  font-weight: 700
}

a:hover, a:active {
  text-decoration: underline;
}

a.button:link, a.button:visited {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  background-color: #646B79;
  color: #FFFFFF;
  padding: 10px 20px;
  font-weight: 400;
  display: inline-block;
}

a.button:hover, a.button:active {
  opacity: 0.7
}

i.fas {
  margin-right: 10px;
  text-decoration: none
}


/* Header settings */

div.header {
  background-image: url("../images/header-1500x500.jpg");
  background-position: center;
  background-size: cover;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column
}

div.header h1 {
  font-size: 3em;
  font-style: italic;
  font-weight: 400;
  color: white;
}

div.header h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  color: white;
  border-bottom: 0px;
}

@media screen and (max-width: 650px) {
  div.header {
    display: none;
  }

  div.header h1 {
    font-size: 2em
  }

  div.header h2 {
    font-size: 1em
  }
}


/* Menu settings */

div.menu-wrapper {
  background-color: #3E3936;
  width: 100%;
  position: sticky;
  top: 0;
}

div.menu, div.social {
  display: table;
  margin: 0px auto
}

div.social {
  font-size: 2em
}

div.menu a:link, div.menu a:visited, div.social a:link, div.social a:visited  {
  float: left;
  padding: 15px;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-weight: 400
}

div.social a:link, div.social a:visited {
  padding: 5px;
}

div.menu a:hover, div.menu a:active {
  background-color: #646B79
}

div.social a:hover, div.social a:active {
  color: #646B79
}

@media screen and (max-width: 650px) {
  div.menu-wrapper {
    display: flex;
    align-items: center;
    position: static
  }

  div.menu {
    width: 100%;
  }

  div.social {
    display: flex;
    flex-direction: column;
    padding: 10px
  }

  div.menu a:link, div.menu a:visited {
    display: block;
    float: none;
    padding: 10px
  }
}


/* Container settings */

div.container {
  margin: 0px auto;
  max-width: 1000px;
  padding: 50px 20px
}

div.home-wrapper {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  padding-bottom: 50px
}

div.home-picture, div.home-about, div.home-twitter, div.home-blog, div.home-publications, div.home-contact {
  float: left;
  padding: 0% 1%
}

div.home-picture {
  min-width: 28%
}

div.home-about {
  min-width: 68%
}

div.home-twitter, div.home-blog {
  min-width: 48%
}

div.home-twitter-mob {
  display: none
}

div.home-contact {
  width: 100%
}

div.home-contact-menu {
  width: 33.3333%;
  float: left;
  text-align: center;
  color: white
}

@media screen and (max-width: 650px) {
  div.container {
    padding: 20px 10px
  }

  div.home-wrapper {
    flex-direction: column;
    padding-bottom: 20px
  }

  div.home-picture, div.home-about, div.home-twitter-mob, div.home-blog, div.home-publications, div.home-contact {
    padding: 10px 0px
  }

  div.home-picture {
    max-width: 50%;
    margin: 0px auto
  }

  div.home-twitter {
    display: none
  }

  div.home-twitter-mob {
    display: block;
    width: 100%
  }

  div.home-contact-menu {
    width: 100%
  }
}


/* Footer settings */

div.footer {
  background-color: #3E3936;
  text-align: right;
  padding: 25px 20px;
  color: #FFFFFF
}

@media screen and (max-width: 650px) {
  div.footer {
    padding: 10px
  }
}
