/* General settings */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lora", serif;
  font-weight: 400;
  margin: 0px;
  color: #3E3936;
  text-align: justify;
  line-height: 1.3
}

h2 {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  color: #646B79;
  display: inline;
  border-bottom: 2px solid;
}

a:link, a:visited {
  color: #646B79;
  text-decoration: none;
  font-weight: 700
}

a:hover, a:active {
  text-decoration: underline;
}

a.button:link, a.button:visited {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  background-color: #646B79;
  color: #FFFFFF;
  padding: 10px 20px;
  font-weight: 400;
  display: inline-block;
}

a.button:hover, a.button:active {
  opacity: 0.7
}

i.fas {
  margin-right: 10px
}

.wrapper {
  display: flex;
  justify-content: center
}

.margin-bottom {
  padding-bottom: 50px
}

.margin-right {
  padding-right: 25px
}

.margin-auto {
  margin: 0px auto
}

.one-third {
  width: 33.333333%
}

.two-thirds {
  width: 66.666666%
}

.one-half {
  width: 50%
}

.appear-mob {
  display: none
}

.white-text {
  color: #FFFFFF
}

.centered {
  text-align: center
}

@media screen and (max-width: 650px) {
  .wrapper {
    flex-direction: column
  }

  .margin-bottom {
    padding-bottom: 25px
  }

  .margin-right {
    padding-right: 0px;
    padding-bottom: 25px
  }

  .one-third-mob {
    width: 50%
  }

  .one-third, .two-thirds, .one-half {
    width: 100%
  }

  .hide-mob {
    display: none
  }

  .appear-mob {
    display: block
  }
}


/* Header settings */

div.header {
  background-image: url("../images/header-1500x500.jpg");
  background-position: center;
  background-size: cover;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column
}

div.header h1 {
  font-size: 3em;
  font-style: italic;
  font-weight: 400;
  color: white;
}

div.header h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  color: white;
  border: 0px;
}

@media screen and (max-width: 650px) {
  div.header {
    display: none;
  }
}


/* Menu settings */

div.menu-wrapper {
  background-color: #3E3936;
  position: sticky;
  top: 0;
}

div.menu, div.social {
  display: table;
  margin: 0px auto
}

div.social {
  font-size: 2em
}

div.menu a:link, div.menu a:visited, div.social a:link, div.social a:visited  {
  float: left;
  padding: 15px;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-weight: 400
}

div.social a:link, div.social a:visited {
  padding: 5px;
}

div.menu a:hover, div.menu a:active, div.social a:hover, div.social a:active {
  background-color: #646B79
}

@media screen and (max-width: 650px) {
  div.menu-wrapper {
    display: flex;
    align-items: center;
    position: static
  }

  div.menu {
    width: 100%;
  }

  div.social {
    display: flex;
    flex-direction: column;
    padding: 10px
  }

  div.menu a:link, div.menu a:visited {
    display: block;
    float: none;
    padding: 10px
  }
}


/* Container settings */

div.container {
  margin: 0px auto;
  max-width: 1000px;
  padding: 50px 20px
}

@media screen and (max-width: 650px) {
  div.container {
    padding: 20px 10px
  }
}

/* Footer settings */

div.footer {
  background-color: #3E3936;
  text-align: right;
  padding: 25px 20px;
  color: #FFFFFF
}

@media screen and (max-width: 650px) {
  div.footer {
    padding: 10px
  }
}
