.menu {
  position: sticky;
  top: 125px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: top 0.5s linear;
  background-color: #FFFFFF
}

.menu a:link, .menu a:visited {
  margin: 25px;
  padding-bottom: 5px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-weight: 400;
  color: #000000;
  border-bottom: 1px solid #FFFFFF;
}

.menu a:hover, .menu a:active, .menu a.selected {
  color: #646B79;
  border-bottom: 1px solid #646B79;
}

.menu a.icon  {
  display: none;
}

@media screen and (max-width: 850px) {
  .menu a:link, .menu a:visited {
    margin: 25px 10px;
}

@media screen and (max-width: 768px) {
  .menu, .menu.responsive {
    position: static;
    top: 100px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    background-color: #EEEEEE
  }

  .menu a:link {
    display: none
  }

  .menu.responsive a:link {
    display: block;
    margin: 10px 25px
  }

  .menu.responsive a:link, .menu.responsive a:visited {
    border-bottom: 1px solid #EEEEEE;
  }

  .menu a.icon, .menu.responsive a.icon {
    display: block;
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 25px;
    top: 30px;
    font-size: 2em;
  }

  .menu a.icon:hover, .menu.responsive a.icon:hover {
    border-bottom: 1px solid #FFFFFF;
  }
}
