.slideshow {
  display: none;
}

.slideshow-caption-wrapper {
  text-align: center;
  background-color: #3E3936;
  padding: 1px;
  color: white;
  font-family: "Montserrat", sans-serif;
  line-height: 0.5em
}

.slideshow-row:after {
  content: "";
  display: table;
  clear: both;
}

.slideshow-column {
  float: left;
  width: 33.333333%;
  cursor: pointer
}

.slideshow-prev, .slideshow-next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 20px;
  margin-top: -50px;
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.slideshow-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slideshow-prev:hover, .slideshow-next:hover {
  background-color: #3E3936;
  text-decoration: none
}

.slideshow-thumb {
  opacity: 0.6;
}

.slideshow-thumb-active, .slideshow-thumb:hover {
  opacity: 1;
}

.slideshow img {
  vertical-align: middle;
}
