/* * {
  box-sizing: border-box;
} */

/* General settings */
html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth
}

body {
  font-family: "Lora", serif;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.5em;
  text-align: justify
}

p {
  margin: 0
}

hr {
  margin: 50px
}

h1, h2, h3 {
  font-family: "Montserrat", sans-serif
}

h1 {
  font-size: 3em;
  line-height: 1.5em
}

h1, h2 {
  margin: 50px;
  text-align: center
}

h3 {
  margin: 25px 0
}

i.fas, i.fab, i.ai {
  margin-right: 15px
}

@media screen and (max-width: 768px) {
  body {
    font-size: 1em
  }

  h1 {
    font-size: 2em;
    line-height: 1em
  }

  h1, h2 {
    margin: 100px 0 25px 0;
    text-align: center
  }

}
/* General settings */


/* Menu */
.menu {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: rgba(0, 0, 0, 1)
}

.menu a {
  padding: 10px 25px;
  display: block;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 0.8em;
  color: #FFFFFF;
  transition: all 0.5s ease-in-out
}

.menu a:hover, .menu .active a {
  color: #4f9cc8
}

@media screen and (max-width: 768px) {
  .menu a {
    padding: 2px 10px
  }
}
/* Menu */


/* Sections and divs */
section {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0B1619
}

section a {
  text-decoration: none;
  font-weight: 700;
  color: #4f9cc8
}

section a:hover {
  text-decoration: underline
}

section h2, section h3 {
  color: #4f9cc8;
}

section hr {
  border-top: 0.5px solid #4f9cc8;
}

section ul {
  margin: 0;
  padding: 0
}

section ul li {
  list-style: circle outside
}

#home {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/jp-valery-P94QCuGGYEY-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF
}

.home-pic {
  width: 30%;
  margin-right: 5%
}

.home-text {
  width: 65%
}

.separator {
  height: 5vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #8AA8B9
}

.container {
  width: 60vw;
  margin: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center
}

.title {
  width: 100%;
  display: inline;
  text-align: center
}

@media screen and (max-width: 768px) {
  section {
    /* min-height: 0; */
  }

  section ul li {
    list-style: circle inside
  }

  .home-pic {
    width: 50%
  }

  .home-text {
    width: 100%
  }

  .separator {
    height: 2.5vh
  }

  .container {
    width: 100vw;
    margin: 5vw;
    flex-flow: column wrap;
  }
}
