* {
  box-sizing: border-box;
}

body {
  font-family: "Lora", serif;
  font-weight: 400;
  margin: 0px;
  color: #3E3936;
  text-align: justify;
  line-height: 1.5
}

h1 {
  font-family: "Montserrat", sans-serif;
}

h2 {
  margin-top: 0px;
  font-family: "Montserrat", sans-serif;
  color: #646B79
}

h3 {
  font-family: "Montserrat", sans-serif
}

a:link, a:visited {
  color: #646B79;
  text-decoration: none;
  font-weight: 700
}

a:hover, a:active {
  text-decoration: underline;
}

.home {
  display: flex;
  align-items: center;
  min-height: 1024px;
  margin: 50px;
  padding: 50px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/background.jpg");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  color: #FFFFFF
}

.container {
  display: flex;
  justify-content: center;
  min-height: 900px;
  margin: 100px 50px
}

.main {
  width: 100%; 
  max-width: 1024px; 
  padding: 0px 10px;
}

.thumb {
  height: 500px; 
  width: 100%;
  margin-bottom: 50px;
  object-fit:cover;
  object-position: 75% 50%;
}

.research {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.research-thumb {
  display: flex;
  align-items:center;
  justify-content: center;
  text-align: center;
  padding: 50px;
  height: 450px; 
  width: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
}

.research-thumb a:link, .research-thumb a:visited {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  color: #FFFFFF
}

.research-thumb a:hover, .research-thumb a:active {
  text-decoration: none;
}

#research-thumb1 {
  background-image: url("../images/research1.jpg");
}

#research-thumb2 {
  background-image: url("../images/research2.jpg");
}

@media screen and (max-width: 1000px) {
  .home {
    min-height: 666px;
    font-size: 1em;
    margin: 50px 20px;
    padding: 20px
  }

  .container {
    flex-direction: column;
    align-items: center;
    margin: 100px 10px;
    height: auto
  }

  .thumb {
    object-fit: contain;
    height: auto
  }

  .research {
    flex-direction: column
  }

  .research-thumb {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .home {
    min-height: auto;
    font-size: 0.8em;
    margin: 50px 20px;
    padding: 10px
  }
}
