<!-- Based on http://dquinton.github.io/debian-install/tutorial/22-github-pages.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/main.css" media="all" type="text/css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta name="description" content="{{page.description}}" />
    <meta name="robots" content="{{page.index}}INDEX,FOLLOW" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="date" content="{{page.date |date: '%A, %d  %Y %H:%M:%S GMT'}}" />
    <title>{{ page.title }}</title>
</head>

<div class="ban"> </div>

<body id="{{ page.id }}">
