<!-- Based on https://www.w3schools.com/howto/howto_js_topnav_responsive.asp -->

<div class="nav" id="myTopnav">
  <a href="index.html" class="active" >Home</a>
  <a href="about.html" id="about">About me</a>
  <a href="research.html" id="research">Research</a>
  <a href="publications.html" id="publications">Publications</a>
  <a href="contact.html" id="contact">Contact</a>
  <!-- The link with class="icon" is used to open and close the topnav on small screens. -->
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<!-- Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon -->
<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "nav") {
    x.className += " responsive";
  } else {
    x.className = "nav";
  }
}
</script>
