<div class="nav" id="nav">
  <a href="index.html" class="active" >Home</a>
  <a href="about.html" id="about">About</a>
  <a href="research.html" id="research">Research</a>
  <a href="publications.html" id="publications">Publications</a>
  <a href="contact.html" id="contact">Contact</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<script>
function myFunction() {
  var x = document.getElementById("nav");
  if (x.className === "nav") {
    x.className += " responsive";
  } else {
    x.className = "nav";
  }
}
</script>
