<div class="sidebar">
  <div class="avatar">
    <img src ="https://avatars2.githubusercontent.com/u/38423985?s=460&v=4" width="160px" style="border-radius: 50%"></img>
  </div>
  <div class="sidebar-menu">
    <a class="active" href="#top"><i class="fas fa-building" ></i>Home</a>
    <a href="#about"><i class="fas fa-user"></i>About me</a>
    <a href="#research"><i class="fas fa-dna"></i>Research</a>
    <a href="#publications"><i class="fas fa-book"></i>Publications</a>
    <a href="#contact"><i class="fas fa-envelope"></i>Contact</a>
  </div>
  <div class="twitter-rg">
    <a href="https://www.twitter.com/igor_spp" target="_blank" title="Twitter profile"><i class="fab fa-twitter-square"></i></a>
    <a href="https://www.researchgate.net/profile/Igor_Pessi" target="_blank" title="ResearchGate profile"><i class="ai ai-researchgate-square"></i></a>
    <a href="https://scholar.google.com/citations?user=eS3B3UAAAAAJ&hl=en" target="_blank" title="GoogleScholar profile"><i class="ai ai-google-scholar-square"></i></a>
    <a href="https://www.github.com/igorspp" target="_blank" title="GitHub profile"><i class="fab fa-github-square"></i></a>
  </div>
</div>
