<div class="sidebar">
  <div class="sidebar-menu">
    <a class="active" href="#top">Home</a>
    <a href="#about">About me</a>
    <a href="#research">Research</a>
    <a href="#publications">Publications</a>
    <a href="#contact">Contact</a>
  </div>
  <div class="twitter-rg">
    <a href="https://www.twitter.com/igor_spp" target="_blank"><i class="fab fa-twitter-square", style="margin-right: 2px"></i></a>
    <a href="https://www.researchgate.net/profile/Igor_Pessi" target="_blank"><i class="ai ai-researchgate-square", style="margin-right: 2px"></i></a>
    <a href="https://scholar.google.com/citations?user=eS3B3UAAAAAJ&hl=en" target="_blank"><i class="ai ai-google-scholar-square", style="margin-right: 2px"></i></a>
    <a href="https://www.github.com/igorspp" target="_blank"><i class="fab fa-github-square"></i></a>
  </div>
</div>
