<!DOCTYPE html>

<html lang="en">

<head>

  <title>{{ page.title }}</title>
  <meta charset="UTF-8">
  <meta name="description" content="Personal website of Igor S. Pessi, PhD" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css" media="all" type="text/css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">

</head>

<body>

  <script>
    function myFunction() {
      var x = document.getElementById("menu");
      if (x.className === "menu") {
        x.className += " responsive";
      }
      else {
      x.className = "menu";
      }
      var y = document.getElementById("social");
      if (y.className === "social") {
        y.className += " responsive";
      }
      else {
      y.className = "social";
      }
    }
  </script>

  <div class="header">
    <h1>Igor S. Pessi, PhD</h1>
    <h2>POLAR MICROBIAL ECOLOGIST</h2>
  </div>

  <div class="menu-wrapper">

    <div class="menu" id="menu">
      <a href="/"><i class="fas fa-building" ></i>Home</a>
      <a href="/about"><i class="fas fa-user"></i>About me</a>
      <a href="/research"><i class="fas fa-dna"></i>Research</a>
      <a href="/publications"><i class="fas fa-book"></i>Publications</a>
      <a href="/contact"><i class="fas fa-envelope"></i>Contact</a>
      <!-- <a href="/blog"><i class="fas fa-blog"></i>Blog</a> -->
      <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i>
    </div>

    <div class="social" id="social">
      <a href="https://www.twitter.com/igor_spp" target="_blank" title="Twitter profile"><i class="fab fa-twitter-square"></i></a>
      <a href="https://www.researchgate.net/profile/Igor_Pessi" target="_blank" title="ResearchGate profile"><i class="ai ai-researchgate-square"></i></a>
      <a href="https://scholar.google.com/citations?user=eS3B3UAAAAAJ&hl=en" target="_blank" title="GoogleScholar profile"><i class="ai ai-google-scholar-square"></i></a>
      <a href="https://www.github.com/igorspp" target="_blank" title="GitHub profile"><i class="fab fa-github-square"></i></a>
    </div>

  </div>

  <div class="container">
	   {{ content }}
	</div>

  <div class="footer-wrapper">

    <div class="footer">
    <p> Website developed by Igor S. Pessi<br />
      Based on code from <a href="https://www.w3schools.com" target="_blank">w3schools</a><br />
      Powered by <a href="https://pages.github.com/" target="_blank">GitHub Pages</a></p>
    </div>

  </div>

</body>

</html>
